.header {
  background-color: var(--header-light-background);
  padding-bottom: 65px;
}

.header__top {
  font-size: 18px;
  line-height: 18px;
  color: var(--basic-type-contrast);
  background-color: var(--dark-background-extra);
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0;
  flex-wrap: wrap;
}


.header__top-button {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 13px 27px 11px 12px;
  min-height: 42px;
  color: var(--basic-type-contrast);
  text-decoration: none;

  &:active {
    background-color: var(--dark-background-push);
    color: var(--transparent-type);
  }

  &::before {
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    opacity: 0.3;
  }

  &:hover::before,
  &:focus::before {
    opacity: 1;
  }

  &:active::before {
    opacity: 0.3;
  }
}

.header__button-bookmark {
  &::before {
    width: 14px;
    height: 16px;
    background-image: url("../images/icons/bookmark.svg");
  }
}

.header__button-cart {

  &::before {
    width: 15px;
    height: 15px;
    background-image: url("../images/icons/cart.svg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  &--fill {
    background-color: var(--emphasis);

    &:active {
      background-color: var(--emphasis-active)
    }
  }
}

.header__bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding-top: 46px;
}

.header__nav {
  grid-column: 1 / -1;
}


.header__description {
  color: var(--emphasis);
  font-style: italic;
  margin: 0 0 0 30px;
  max-width: 220px;
  font-size: 16px;
}

.header__contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.header__phone {
  display: flex;
  align-items: center;
  border: solid 3px var(--clear-background);
  padding: 7px 43px 8px 36px;
  color: var(--emphasis);
  font-weight: 700;
  font-size: 21px;
  text-decoration: none;
}

.header__phone::before {
  content: "";
  background-image: url("../images/icons/phone.svg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 19px;
  width: 19px;
  display: block;
  margin-right: 16px;
}

.header__address {
  padding: 3px 9px;
  color: var(--dark-background);
  line-height: 12px;
  font-size: 14px;
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--emphasis);
  }

  &:active {
    color: var(--light-type)
  }
}
