*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clear-background: #fff;
  --light-background: #f1f5f7;
  --dark-background: #32425c;
  --dark-background-extra: #293449;
  --dark-background-push: #161d29;
  --dark-background-extra-push: #1d2739;
  --header-light-background: #f2f6f8;
  --heading-background: #f9f5f0;
  --catalog-background: #f7f3ec;
  --button-container-background: #f4f4f4;
  --button-border: #e5e5e5;
  --light-border: #eaeaea;
  --basic-type: #000;
  --basic-type-contrast: #fff;
  --footer-type: #ffd180;
  --light-type: #c5c5c5;
  --emphasis: #ee3643;
  --emphasis-hover: #ca2c37;
  --emphasis-active: #ba2732;
  --deal: #63a63e;
  --deal-shadow: #367315;
  --deal-hover: #5fbb2d;
  --transparent-type: hsla(0, 0%, 100%, 0.5);
  --transparent-extra-type: hsla(0, 0%, 0%, 0.4);
  --basic-icon: #c5c5c5;
  --transparent-icon: hsla(0, 0%, 100%, 0.3);
  --transparent-button: hsla(0, 0%, 100%, 0.3);
  --transparent-button-hover: hsla(0, 0%, 77%, 0.3);
  --transparent-button-active: hsla(0, 0%, 66%, 0.3);
  --transparent-shadow: hsla(0, 0%, 0%, 0.15);
  --special-yellow: #ffbf47;
  --special-blue: #3bbce3;
  --special-lillac: #dc91d8;
  --special-green: #8ed78f;
  --special-yellowlight: #ffc047;
}

img {
  max-width: 100%;
  height: auto;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
