<footer class="footer">
  <div class="footer__nav">
    <div class="footer__nav-inner container">
      <a class="logo logo--footer" href="#">
        <img class="logo__image logo__image--footer" src="images/brand/logo.svg" width="108" height="18" alt="Логотип Техномарт">
      </a>
      <div class="footer__contacts">
        <a class="footer__contacts-link" href="blank.html">г. Санкт-Петербург, ул. Б. Конюшенная, д. 19/8</a>
        <a class="footer__contacts-link" href="tel:+78125550555">+7 (812) 555-05-55</a>
      </div>
      <ul class="footer__nav-list">
        <li class="footer__nav-item">
          <a class="footer__nav-link" href="blank.html">Компания</a>
        </li>
        <li class="footer__nav-item">
          <a class="footer__nav-link" href="blank.html">Новости</a>
        </li>
        <li class="footer__nav-item">
          <a class="footer__nav-link" href="catalog.html">Каталог</a>
        </li>
        <li class="footer__nav-item">
          <a class="footer__nav-link" href="blank.html">Доставка</a>
        </li>
        <li class="footer__nav-item">
          <a class="footer__nav-link" href="blank.html">Контакты</a>
        </li>
        <li class="footer__nav-item">
          <a class="footer__nav-link footer__nav-link--second" href="blank.html">Материалы</a>
        </li>
        <li class="footer__nav-item">
          <a class="footer__nav-link footer__nav-link--second" href="blank.html">Техника</a>
        </li>
        <li class="footer__nav-item">
          <a class="footer__nav-link footer__nav-link--second" href="blank.html">Инструмент</a>
        </li>
        <li class="footer__nav-item">
          <a class="footer__nav-link footer__nav-link--second" href="blank.html">Спецпредложения</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer__link-bar">
    <div class="footer__link-bar-inner container">
      <p class="footer__copyright">&copy; 2010–2024 Компания &#171;Техномарт&#187; Все права защищены</p>
      <ul class="footer__social social">
        <li class="social__item">
          <a class="social__item-link social__item-link--vk" href="https://vk.com/htmlacademy" title="Наша группа ВКонтакте" aria-label="Наша группа ВКонтакте" target="_blank" rel="nofollow noopener"></a>
        </li>
        <li class="social__item">
          <a class="social__item-link social__item-link--youtube" href="https://www.youtube.com/user/htmlacademyru" title="Наш канал в YouTube" aria-label="Наш канал в YouTube" target="_blank" rel="nofollow noopener"></a>
        </li>
        <li class="social__item">
          <a class="social__item-link social__item-link--telegram" href="https://t.me/htmlacademy" title="Наш канал в Телеграм" aria-label="Наш канал в Телеграм" target="_blank" rel="nofollow noopener"></a>
        </li>
        <li class="social__item">
          <a class="social__item-link social__item-link--github" href="https://github.com/nemtsev-k/technomart/" title="Исходный код в GitHub" aria-label="Исходный код в GitHub" target="_blank" rel="nofollow noopener"></a>
        </li>
      </ul>
      <div class="footer__info">
        <div class="footer__feedback">
          <span class="footer__info-text">Обратная связь:</span>
          <a class="footer__info-link" href="mailto:mail@htmlacademy.ru">mail@htmlacademy.ru</a>
        </div>
        <div class="footer__developer">
          <span class="footer__info-text">Макет &#8212;</span>
          <a class="footer__info-link" href="https://htmlacademy.ru/intensive/htmlcss" target="_blank" rel="nofollow noopener">htmlacademy.ru</a>
        </div>
      </div>
    </div>
  </div>
</footer>
