<header class="header">
  <div class="header__top">
    <div class="header__top-inner container">
      <a class="logo" href="index.html">
        <img class="logo__image logo__image--header" src="images/brand/logo.svg" width="108" height="18" alt="Логотип Техномарт">
      </a>
      <form class="search-form" action="https://echo.htmlacademy.ru/courses" method="get">
        <input class="search-form__input" name="main-search" id="main-search" type="search" placeholder="Поиск:" aria-label="Поиск">
        <div class="search-form__icon"></div>
      </form>
      <a class="header__top-button header__button-bookmark" href="#">Закладки: <span>0</span></a>
      <a class="header__top-button header__button-cart {% if currentPage == 'catalog' %}header__button-cart--fill{% endif %}" href="#">
        Корзина: <span>{% if currentPage == 'catalog' %}10{% else %}0{% endif %}</span>
      </a>
      <a class="header__button-buy button-buy button-buy--header" href="#">Оформить заказ</a>
    </div>
  </div>
  <div class="header__bottom container">
    <p class="header__description">Интернет-магазин строительных материалов и&nbsp;nинструментов для ремонта</p>
    <div class="header__contacts">
      <a class="header__phone" href="tel:+78125550555">+7 (812) 555-05-55</a>
      <a class="header__address" href="#">г. Санкт-Петербург, ул. Б. Конюшенная, д. 19/8</a>
    </div>
    {% if currentPage == 'catalog' %}
    <div class="user-menu user-menu--full">
      <div class="user-menu__inner">
        <span class="user-menu__name">Зубенко Михаил</span>
        <a class="user-menu__logout" href="#" title="Выход" aria-label="Выход"></a>
      </div>
      <ul class="user-menu__list">
        <li class="user-menu__item">
          <a class="user-menu__item-link" href="#">Мои заказы</a>
        </li>
        <li class="user-menu__item">
          <a class="user-menu__item-link" href="#">Личный кабинет</a>
        </li>
      </ul>
    </div>
    {% else %}
    <div class="user-menu">
      <a class="user-menu__button user-menu__button--authorization" href="#">Войти</a>
      <a class="user-menu__button user-menu__button--registration" href="#">Регистрация</a>
    </div>
    {% endif %}
    <nav class="header__nav nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__item-link" href="index.html">Главная</a>
        </li>
        <li class="nav__item">
          <a class="nav__item-link" href="blank.html">Компания</a>
        </li>
        <li class="nav__item">
          <a class="nav__item-link" href="catalog.html">Каталог</a>
        </li>
        <li class="nav__item">
          <a class="nav__item-link" href="blank.html">Новости</a>
        </li>
        <li class="nav__item">
          <a class="nav__item-link" href="blank.html">Спецпредложения</a>
        </li>
        <li class="nav__item">
          <a class="nav__item-link" href="blank.html">Доставка</a>
        </li>
        <li class="nav__item">
          <a class="nav__item-link" href="blank.html">Контакты</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
