.button-buy {
  box-shadow: inset 0 -3px 0 var(--deal-shadow);
  color: var(--basic-type-contrast);
  text-transform: uppercase;
  background-color: var(--deal);
  border-style: none;
  cursor: pointer;
}

.button-buy:hover,
.button-buy:focus {
  background-color: var(--deal-hover);
}

.button-buy:active {
  background-color: var(--deal);
  color: var(--transparent-type);
}
