.contacts {
  width: 300px;
}

.contacts__title {
  margin-bottom: 0;
}

.contacts__text {
  margin-top: 26px;
  margin-bottom: 33px;
  font-size: 13px;
}

.contacts__button {
  margin-top: 18px;
  width: 100%;
}
