.search-form {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-grow: 1;
  z-index: 1;
}

.search-form__icon {
  position: absolute;
  left: 17px;
  opacity: 0.3;
  margin-top: -1px;
}

.search-form__icon::before {
  content: "";
  display: block;
  width: 17px;
  height: 17px;
  mask-image: url("../images/sprite.svg#search");
  background-color: var(--basic-type-contrast);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.search-form__input {
  border-style: none;
  background-color: transparent;
  color: var(--basic-type-contrast);
  padding-left: 42px;
  height: 100%;
  width: 100%;
  font-size: inherit;
  font-family: inherit;
}

.search-form__input::placeholder {
  color: var(--basic-type-contrast);
}

.search-form:hover .search-form__icon {
  opacity: 1;
}

.search-form__input:focus,
.search-form__input:active {
  background-color: var(--clear-background);
  color: var(--basic-type);
}

.search-form__input:focus + .search-form__icon::before {
  opacity: 1;
  background-color: var(--emphasis);
}

.search-form__input::-webkit-search-cancel-button {
  height: 12px;
  width: 12px;
  margin-right: 14px;
  background-image: url("../images/icons/close.svg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
