.special {
  padding: 59px 0;
}

.special__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.special__link {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 142px 21px 22px;
  min-height: 123px;
  height: 100%;
  color: var(--basic-type-contrast);
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
  }
}

.special__link:hover .special__button,
.special__link:focus .special__button {
  background-color: var(--transparent-button-hover);
}

.special__link:active .special__button {
  background-color: var(--transparent-button-active);
}

.special__text {
  display: block;
}

.special__item {
  &--new {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../images/decorative/new-flag-caps.svg");
      background-position: center;
      background-size: 100%;
      background-repeat: no-repeat;
      width: 70px;
      height: 70px;
      right: 0;
      top: 0;
    }
  }

  &--material {
    background-color: var(--special-yellow);

    .special__link::after {
      background-image: url("../images/icons/icon-1.svg");
      background-position: center;
      background-size: 100%;
      background-repeat: no-repeat;
      width: 44px;
      height: 65px;
      top: 50%;
      right: 43px;
      transform: translateY(-50%);
    }
  }

  &--tools {
    background-color: var(--special-blue);

    .special__link::after {
      top: 50%;
      right: 31px;
      background-image: url("../images/icons/icon-2.svg");
      background-position: center;
      background-size: 100%;
      background-repeat: no-repeat;
      width: 75px;
      height: 61px;
      transform: translateY(-50%);
    }
  }

  &--equipment {
    background-color: var(--special-lillac);

    .special__link::after {
      top: 50%;
      right: 31px;
      background-image: url("../images/icons/icon-3.svg");
      background-position: center;
      background-size: 100%;
      background-repeat: no-repeat;
      width: 78px;
      height: 62px;
      transform: translateY(-50%);
    }
  }

  &--discount {
    background-color: var(--special-green);

    .special__link::after {
      background-image: url("../images/icons/icon-4.svg");
      background-position: center;
      background-size: 100%;
      background-repeat: no-repeat;
      width: 59px;
      height: 72px;
      top: 50%;
      right: 45px;
      transform: translateY(-50%);
    }
  }

  &--delivery {
    background-color: var(--special-yellowlight);

    .special__link::after {
      background-image: url("../images/icons/icon-5.svg");
      background-position: center;
      background-size: 100%;
      background-repeat: no-repeat;
      width: 78px;
      height: 63px;
      top: 50%;
      right: 31px;
      transform: translateY(-50%);
    }
  }
}

.special__button {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--transparent-button);
  text-align: center;
  padding-bottom: 7px;
  padding-top: 7px;
}
