<!DOCTYPE html>
{% set currentPage = 'catalog' %}
<html class="page" lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Техномарт. Каталог</title>
  {% include 'templates/_head.html' %}
</head>
<body class="page__body">
{% include 'templates/_header.html' %}
<main class="main main--second">
  <div class="page-catalog container">
    <h1 class="visually-hidden">Техномарт: каталог</h1>
    <div class="breadcrumbs">
      <a class="path-home" href="blank.html" aria-label="Главная"></a>
      <a class="path-link" href="blank.html">Каталог</a>
      <a class="path-link" href="blank.html">Инструмент</a>
      <span class="path-link">Перфораторы</span>
    </div>
    <div class="heading-catalog">
      <h2>Перфораторы</h2>
    </div>
    <section class="sort-bar sort-box">
      <h3>Сортировка:</h3>
      <ul class="sort-category-box">
        <li>
          <button class="sort-button sort-category-current" type="button">По цене</button>
        </li>
        <li>
          <button class="sort-button" type="button">По типу</button>
        </li>
        <li>
          <button class="sort-button" type="button">По функционалу</button>
        </li>
      </ul>
      <ul class="sort-arrow-box">
        <li>
          <button class="sort-arrow sort-arrow-current arrow-reverse"></button>
        </li>
        <li>
          <button class="sort-arrow arrow-regular" type="button"></button>
        </li>
      </ul>
    </section>
    <section class="filter">
      <h3 class="sort-box">Фильтр:</h3>
      <form class="filter-form" method="get" action="https://echo.htmlacademy.ru">
        <fieldset class="filter-item">
          <legend class="filter-heading">Цена:</legend>
          <div class="range-filter">
            <div class="range-controls">
              <div class="scale">
                <div class="bar" style="width: 78%; margin-left: 6%"></div>
              </div>
              <div class="toggle toggle-min" tabindex="0" style="left: 8%"></div>
              <div class="toggle toggle-max" tabindex="0" style="left: 73%"></div>
            </div>
            <div class="price-controls">
              <input type="number" name="min-price" value="0" aria-label="цена от">
              <span>&mdash;</span>
              <input type="number" name="max-price" value="30000" aria-label="цена до">
            </div>
          </div>
        </fieldset>
        <fieldset class="filter-item">
          <legend class="filter-heading filter-borderline">Производители:</legend>
          <ul class="filter-brands__list">
            <li>
              <input class="visually-hidden" type="checkbox" name="manufacturer" value="bosch" id="bosch-checkbox" checked>
              <label class="manufacturers-label" for="bosch-checkbox">Bosch</label>
            </li>
            <li>
              <input class="visually-hidden" type="checkbox" name="manufacturer" value="interskol" id="interskol-checkbox">
              <label class="manufacturers-label" for="interskol-checkbox">Интерскол</label>
            </li>
            <li>
              <input class="visually-hidden" type="checkbox" name="manufacturer" value="makita" id="makita-checkbox" checked>
              <label class="manufacturers-label" for="makita-checkbox">Makita</label>
            </li>
            <li>
              <input class="visually-hidden" type="checkbox" name="manufacturer" value="dewalt" id="dewalt-checkbox">
              <label class="manufacturers-label" for="dewalt-checkbox">Dewalt</label>
            </li>
            <li>
              <input class="visually-hidden" type="checkbox" name="manufacturer" value="hitachi" id="hitachi-checkbox">
              <label class="manufacturers-label" for="hitachi-checkbox">Hitachi</label>
            </li>
          </ul>
        </fieldset>
        <fieldset class="filter-item">
          <legend class="filter-heading filter-borderline">Питание:</legend>
          <ul class="filter-power-source-list">
            <li>
              <input class="visually-hidden" type="radio" name="power-source" value="battery" id="battery-radio" checked>
              <label class="power-source-label" for="battery-radio">Аккумуляторные</label>
            </li>
            <li>
              <input class="visually-hidden" type="radio" name="power-source" value="corded-electric" id="corded-electric-radio">
              <label class="power-source-label" for="corded-electric-radio">Сетевые</label>
            </li>
          </ul>
        </fieldset>
        <button class="filter-button" type="submit">Показать</button>
      </form>
    </section>
    <section class="catalog-list">
      <h3 class="visually-hidden">Список товаров:</h3>
      <ul class="goods__list">
        <li tabindex="0" class="goods__item">
          <img src="images/content/bfg6000.jpg" width="184" height="164" alt="Перфоратор BOSCH bfg6000">
          <h3>Перфоратор BOSCH BFG 6000</h3>
          <p class="goods__past-price">30500 Р.</p>
          <p class="goods__actual-price">25500 Р.</p>
          <div class="goods__area-buttons">
            <button class="goods__button-buy" type="button">Купить</button>
            <button class="goods__button-bookmark" type="button">В закладки</button>
          </div>
        </li>
        <li tabindex="0" class="goods__item">
          <img src="images/content/bfg6000.jpg" width="184" height="164" alt="Перфоратор BOSCH bfg6000">
          <h3>Перфоратор BOSCH BFG 6000</h3>
          <p class="goods__past-price">30500 Р.</p>
          <p class="goods__actual-price">25500 Р.</p>
          <div class="goods__area-buttons">
            <button class="goods__button-buy" type="button">Купить</button>
            <button class="goods__button-bookmark" type="button">В закладки</button>
          </div>
        </li>
        <li tabindex="0" class="goods__item goods__item--new">
          <img src="images/content/bfg6000.jpg" width="184" height="164" alt="Перфоратор BOSCH bfg6000">
          <h3>Перфоратор BOSCH BFG 6000</h3>
          <p class="goods__past-price">30500 Р.</p>
          <p class="goods__actual-price">25500 Р.</p>
          <div class="goods__area-buttons">
            <button class="goods__button-buy" type="button">Купить</button>
            <button class="goods__button-bookmark" type="button">В закладки</button>
          </div>
        </li>
        <li tabindex="0" class="goods__item goods__item--new">
          <img src="images/content/bfg2000or3000.jpg" width="184" height="164" alt="Перфоратор BOSCH bfg3000">
          <h3>Перфоратор BOSCH BFG 3000</h3>
          <p class="goods__past-price">22500 Р.</p>
          <p class="goods__actual-price">15500 Р.</p>
          <div class="goods__area-buttons">
            <button class="goods__button-buy" type="button">Купить</button>
            <button class="goods__button-bookmark" type="button">В закладки</button>
          </div>
        </li>
        <li tabindex="0" class="goods__item">
          <img src="images/content/bfg6000.jpg" width="184" height="164" alt="Перфоратор BOSCH bfg6000">
          <h3>Перфоратор BOSCH BFG 6000</h3>
          <p class="goods__past-price">30500 Р.</p>
          <p class="goods__actual-price">25500 Р.</p>
          <div class="goods__area-buttons">
            <button class="goods__button-buy" type="button">Купить</button>
            <button class="goods__button-bookmark" type="button">В закладки</button>
          </div>
        </li>
        <li tabindex="0" class="goods__item goods__item--new">
          <img src="images/content/bfg2000or3000.jpg" width="184" height="164" alt="Перфоратор BOSCH bfg2000">
          <h3>Перфоратор BOSCH BFG 2000</h3>
          <p class="goods__actual-price">12500 Р.</p>
          <div class="goods__area-buttons">
            <button class="goods__button-buy" type="button">Купить</button>
            <button class="goods__button-bookmark" type="button">В закладки</button>
          </div>
        </li>
        <li tabindex="0" class="goods__item goods__item--new">
          <img src="images/content/bfg2000or3000.jpg" width="184" height="164" alt="Перфоратор BOSCH bfg3000">
          <h3>Перфоратор BOSCH BFG 3000</h3>
          <p class="goods__past-price">22500 Р.</p>
          <p class="goods__actual-price">15500 Р.</p>
          <div class="goods__area-buttons">
            <button class="goods__button-buy" type="button">Купить</button>
            <button class="goods__button-bookmark" type="button">В закладки</button>
          </div>
        </li>
        <li tabindex="0" class="goods__item">
          <img src="images/content/bfg6000.jpg" width="184" height="164" alt="Перфоратор BOSCH bfg6000">
          <h3>Перфоратор BOSCH BFG 6000</h3>
          <p class="goods__past-price">30500 Р.</p>
          <p class="goods__actual-price">25500 Р.</p>
          <div class="goods__area-buttons">
            <button class="goods__button-buy" type="button">Купить</button>
            <button class="goods__button-bookmark" type="button">В закладки</button>
          </div>
        </li>
        <li tabindex="0" class="goods__item goods__item--new">
          <img src="images/content/bfg2000or3000.jpg" width="184" height="164" alt="Перфоратор BOSCH bfg2000">
          <h3>Перфоратор BOSCH BFG 2000</h3>
          <p class="goods__actual-price">12500 Р.</p>
          <div class="goods__area-buttons">
            <button class="goods__button-buy" type="button">Купить</button>
            <button class="goods__button-bookmark" type="button">В закладки</button>
          </div>
        </li>
      </ul>
      <ul class="pages-list">
        <li>
          <a href="blank.html" class="page-button current-page">1</a>
        </li>
        <li>
          <a href="blank.html" class="page-button">2</a>
        </li>
        <li>
          <a href="blank.html" class="page-button">3</a>
        </li>
        <li>
          <a href="blank.html" class="page-button page-button-next">Следующая</a>
        </li>
      </ul>
    </section>
  </div>
  <article class="catalog-article">
    <div class="container">
      <h2 class="heading-extra">Пара слов о перфораторах</h2>
      <p>Перфоратор — универсальный строительный инструмент. Предназначен для сверления и долбления отверстий в кирпиче, бетоне и камне.<br>Существуют электромеханические и пневматические перфораторы. Современные модели могут выполнять функции дрели, шуруповерта и отбойного молотка.<br>В ассортиментном ряду есть выбор «трехрежимников»: в одном устройстве будут совмещены отбойный молоток и ударная дрель.</p>
    </div>
  </article>
</main>
{% include 'templates/_footer.html' %}
<div class="modal modal-cart">
  <p>Товар добавлен в корзину!</p>
  <div class="modal-button-container">
    <a class="button" href="blank.html">Оформить заказ</a>
    <button class="button keep-buying-button" type="button">Продолжить покупки</button>
  </div>
  <button class="modal-close-button" type="button" aria-label="Закрыть окно"></button>
</div>
<script src="js/main.js"></script>
</body>
</html>
